body {
   background-color: #ffffff;
}

.wrapper {
   width: calc(100vw - 72px);
   height: 100%;
   margin: 33px auto;
   // max-width: 1640px;
}

.header {

   .container{

   }
   &__logo{

   }
   &__shoppingcart{

   }
}

.content {

   .container {
      
   }
}