@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
   background-color: #ffffff;
}

.wrapper {
   
.header {
   border-bottom: 1px solid #cfcfcfb6;
   .container{
      display: flex;
      justify-content: space-between;
      margin: 26.45px 0 26.48px 30.31px;
   }
   .header__logo{
      
      span {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 21px;
      }
   }
   .header__shoppingcart{
      margin: 7px 30px 0 0;
      position: relative;
      .shoppingcart__circle {
         text-align: center;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 10px;
         line-height: 12px;
         width: 13px;
         height: 13px;
         background-color: #3366FF;
         color: #FFFFFF;
         border-radius: 50%;
         position: absolute;
         bottom: 19px;
         right: -7px;
         span {
            position: relative;
            top: 0.5px;
         }
      }
   }
}
.content {
   width: calc(100vw - 72px);
   height: 100%;
   .container {
      display: flex;
      justify-content: space-between;
   .content__items {
      margin: 60px 170px 233px 170px;
      display: grid;
      width: 250px;
      height: 300px;
      grid-template: 1fr 1fr/ repeat(3,250px); 
      grid-auto-flow: row;
      column-gap: 70px;
      row-gap: 50px;
         .shoes__block {
            border: 1px solid #cfcfcf73;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .block__pic{
               align-self: center;
               justify-self: center;
               img {
                  width: 228px;
                  height: 130px;
               }
            }
            .block__title {
               margin: 41px 0 0 15px;
               font-family: 'Roboto';
               font-weight: 700;
               font-size: 14px;
               line-height: 16.41px;
            }
            .block__price {
               display: flex;
               padding: 13px 15px 15px 15px;
               .price__shoppingcart {
                  width: 40px;
                  height: 40px;
                  border-radius: 3px;
                  background-color: rgb(51, 102, 255);
                  display: flex;
                  justify-content: center;
                  align-items: center;
               }
               .price__number {
                  align-self: center;
                  margin: 0 0 0 15px;
                  font-family: 'Roboto';
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 16.41px;
                  font-style: normal;
               }
            }
         }
         }
   .content__sidebar {
      border-left: 1px solid #cfcfcfb6;
      position: relative;
      .sidebar__title{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         line-height: 21px;
         margin: 40px 0 30px 40px;
      }
      .sidebar__mybasket{
         // border-bottom: 1px solid #cfcfcfb6;
         position: relative;
         .sidebar__basket {
         display: grid;
         height: 100px;
         grid-template-columns: 100px 230px;
         margin: 0 0 40px 40px;
         grid-template-areas: 
         'picture title cross'
         'picture number cross';
         position: relative;
            .basket__picture {
               grid-area: picture;
               display: flex;
               align-items: center;
               img {
                  width: 90px;
                  height: 51px;
               }
            }
            .basket__title {
               grid-area: title;
               font-family: 'Roboto';
               font-style: normal;
               font-weight: 400;
               font-size: 14px;
               line-height: 16.41px;
               width: 202px;
            }
            .basket__counter {
               grid-area: number;
               display: flex;
               width: 145px;
               justify-content: space-between;
               position: relative;
               bottom: 10px;
            }
            .basket__cross {
               grid-area: cross;
            }
         }
         .sidebar__line{
            position: absolute;
            transform: translate(0, 0);
            top: 230px;
            svg {
               bottom: 3px;
            }
         }
      }
      .sidebar__receipt {
         margin: 40px 55px 397px 41px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 34px;
         .receipt__subtotal {
            display: flex;
            justify-content: space-between;
            
            .subtotal__title {

            }
            .subtotal__price {

            }
         }
         .receipt__tax {
            display: flex;
            justify-content: space-between;
            .tax__title {

            }
            .tax__price {

            }
         }
         .receipt__shipping {
            display: flex;
            justify-content: space-between;
            .shipping__title {

            }
            .shipping__price{

            }
         }
         .receipt__total {
            display: flex;
            justify-content: space-between;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 18px;
            line-height: 34px;

            .total__title {

            }
            .total__price {

            }
         }
      }
         }
   }
}
}

@media screen and (max-width: 1640px) {
   
}
@media screen and (max-width: 1200px) {
   
}
@media screen and (max-width: 768px) {
   
}
@media screen and (max-width: 410) {
   
}
@media screen and (max-width: 1640px) {
   
}